body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

html,
body {
  font-family: Helvetica, sans-serif;
}

.slides {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

.slides > div {
  width: 100vw;
  min-height: 100vh;
  scroll-snap-align: start;
  margin: auto;
}

h1 {
  color: #3679d5;
  font-size: 60px;
  margin: 20px 0 0 20px;
}

h2 {
  color: #3679d5;
  font-size: 50px;
  margin: 0 0 0 20px;
}

h3 {
  color: #8ab1e5;
  font-size: 40px;
  margin: 20px;
}

h4 {
  color: #000000;
  font-size: 24px;
  margin: 20px;
}

p {
  margin: 20px;
  background-color: #acc7eb;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
}

#spacing2 {
  margin: 10px 20px 10px 20px;
}

ul {
  margin: 20px;
  background-color: #acc7eb;
  padding: 20px;
  border-radius: 10px;
}

li {
  margin-left: 8px;
}

a {
  color: black;
  font-size: 18px;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#start {
  margin: 20px;
}

#back {
  margin: 20px;
}
.red {
  /* color: #555555; */
  background-color: #555555;
}
.green {
  /* color: #00aa00; */
  background-color: #00aa00;
}
.blue {
  /* color: #3679d5; */
  background-color: #3679d5;
  /* background-color: #000000; */
}

button {
  height: 40px;
  width: 60px;
  color: #ffffff;
  background-color: #3679d5;
  margin: 10px;
  border-radius: 8px;
}

button:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 100, 0.78);
}

section.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

.change {
  background-color: #8ab1e5;
}

.buttonGrid {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@media (min-width: 960px) {
  h1 {
    color: #3679d5;
    font-size: 80px;
    margin: 40px 0 0 40px;
  }
  h2 {
    color: #3679d5;
    font-size: 60px;
    margin: 40px;
  }
  h3 {
    color: #8ab1e5;
    font-size: 40px;
    margin: 40px;
  }
  h4 {
    color: #000000;
    font-size: 30px;
    margin: 20px 40px 20px 40px;
  }
  p {
    font-size: 20px;
    margin: 20px 40px 20px 40px;
    padding: 30px;
  }
  #spacing {
    margin: 40px 40px 20px 40px;
  }
  #spacing2 {
    margin: 20px 40px 20px 40px;
  }
  #spacing3 {
    margin: 40px 40px 20px 40px;
  }
  a {
    color: black;
    font-size: 20px;
  }
  ul {
    margin: 20px 40px 20px 40px;
    background-color: #acc7eb;
    padding: 30px;
    border-radius: 10px;
  }
  li {
    margin-left: 14px;
  }
  /* .slides {
    display: flex;
    align-items: center;
  } */
  .slides {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .slides > div {
    width: 33vw;
    min-height: 100vh;
  }
  #start {
    display: none;
  }
  #back {
    display: none;
  }
  .buttonGrid {
    justify-content: left;
    margin-left: 32px;
  }
}

button {
  height: 60px;
  width: 150px;
  /* background-color: #3679d5; */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
}
