body {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

/* div {
  width: 100vw;
  min-height: 100vh;
  scroll-snap-align: start;
} */

button {
  height: 60px;
  width: 150px;
  background-color: #3679d5;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
}

.grid-4 {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* this puts them side by side */
  /* figure out how to make it 2 by 2 */
}
